* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

.banner {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20230516/pngtree-hand-of-someone-typing-on-a-computer-keyboard-image_2549494.png");
  min-height: 100vh;
  background-size: cover; 
  background-repeat: no-repeat;
}

.banner-header {
  font-size: 5vw;
}

/* .services {
  min-height: 100vh;
} */

.navlinks:hover {
  background-color: rgb(197, 206, 221);
  border-radius: 5px;
}

